**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.idea/
**/.git/
**/.gitignore
**/.dockerignore
**/Dockerfile
**/docker-compose*
**/*.user
**/*.suo
**/.DS_Store
**/appsettings.Local.json
**/appsettings.Development.json
.env
requests/
*.md
